@charset "UTF-8";

@font-face {
	font-family: 'Mulish';
	src: url('https://cdn.jsdelivr.net/gh/kaspahub/kaspahub.github.io@main/assets/fonts/mulish-variablefont_wght.ttf') format('truetype');
}

html {
	box-sizing: border-box;
	font-family: Mulish, Arial, sans-serif;
	font-size: 1.1rem;
	font-weight: 450;
	line-height: 1.25rem;
	word-wrap: anywhere;
	overflow-wrap: break-word;
	word-break: break-word;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
/* 	background: #0F0F0F; */
}

main {
	min-height: 110vh;
}

.theme-1 {
	background-color: rgba(255, 255, 255, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.17);
	border-radius: 15px;
	overflow: hidden;
	padding: 20px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.background-light {
	background: linear-gradient(to bottom right, #8BAFC4, #8BC6BD);
	color: #3d3d3d;
}

.background-dark {
	background: linear-gradient(to bottom right, #1a1a2e, #0c3f3a);
	color: #e1e1e1;
}

.background-dark, .background-light {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

input {
	font-weight: normal;
	font-size: 1rem;
}

br, span, font, p, h1, h2, h3, h4, h5, h6, time {
	min-height: 1.25rem;
	line-height: 1.25em;
}

h1, h2, h3, h4, h5, h6, p, time {
	margin-block-start: 0.5rem;
	margin-block-end: 0.5rem;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.295rem;}
h3 {font-size: 1.215rem;}
h4 {font-size: 1.135rem;}
h5 {font-size: 1.065rem;}
h6 {font-size: 1rem;}

ul {
	margin-block-start: 0.7rem;
	margin-block-end: 0.7rem;
}

li {
	margin-block-end: 0.5rem;
}

header {
	padding: 40px 20px;
	margin-bottom: 20px;
	padding: 20px;
}

header a {
	text-decoration: none !important;
	color: #ffffff !important;
}

.page-wrapper {
	max-width: 1300px;
	margin: 0 auto;
	flex-grow: 1;
}

.main-content-area {
	display: flex;
	gap: 25px;
	min-height: 1000px;
	padding-bottom: 50px;
}

.sidebar {
	flex: 0 0 250px;
	padding: 20px;
	align-self: flex-start;
}

.sidebar h2 {
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 20px;
	filter: brightness(0.7);
}

.filter-category {
	margin-bottom: 25px;
}

.filter-category h3 {
	font-size: 1.1em;
	filter: brightness(0.7);
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding-bottom: 10px;
	font-weight: 600;
}

.filter-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.filter-group label {
	border-radius: 10px;
	font-weight: 500;
	cursor: pointer;
	padding: 4px 6px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-group label:hover {
	filter: invert(0.2);
	background-color: rgba(0, 0, 0, 0.05);
}

.filter-group input[type="radio"], .filter-group input[type="checkbox"] {
	width: 18px;
	height: 18px;
	appearance: none;
	border: 2px solid #757575;
	border-radius: 6px;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
	cursor: pointer;
}

.filter-group input[type="radio"] {
	border-radius: 50%;
}

.filter-group input[type="radio"]:checked, .filter-group input[type="checkbox"]:checked {
	background-color: #005d54;
	border-color: #0c3f3a;
}

.filter-group input[type="radio"]:checked::before, .filter-group input[type="checkbox"]:checked::before {
	display: block;
	text-align: center;
	line-height: 14px;
	color: #fff;
	font-size: 12px;
}

.filter-group input[type="checkbox"]:checked::before {
	content: '✔';
}

.filter-list-main {
	flex-grow: 1;
}

.filter-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 25px;
	padding-bottom: 20px;
}

.filter-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	min-height: 380px;
	max-height: 500px;
	max-width: 800px;
	margin: 0 auto;
}

/*.filter-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}*/

.filter-logo {
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
	margin-bottom: 10px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter-description {
	font-size: 1em;
	margin-bottom: 20px;
	flex-grow: 1;
}

.filter-features-container, .filter-platforms-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px;
	margin-bottom: 10px;
	width: 100%;
}

.feature-tag, .platform-tag {
	display: inline-flex;
	align-items: center;
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 0.85em;
	font-weight: 500;
	white-space: nowrap;
	font-size: 0.8em;
}

.feature-tag {
	background-color: #a0e3d1;
	color: #00796b;
}

.platform-tag {
	background-color: #ebebeb;
	color: #666;
	padding: 6px 12px;
	border: 1px solid #ddd;
}

.platform-tag img {
	height: 16px;
	margin-right: 5px;
}

img {
	object-fit: contain !important;
	max-width: 100% !important;
	/*height: auto !important;*/
}

.link-button {
	transition: background-color 0.3s ease, transform 0.2s ease;
	text-decoration: none !important;
	color: #fff !important;
	padding: 12px 25px;
	background: rgb(0 126 114 / 55%);
	border: 1px solid rgb(0 147 133);
	border-radius: 16px;
}

.link-button:hover {
	background-color: #333;
	transform: translateY(-2px);
}

.no-items-message {
	text-align: center;
	/*width: 100%;*/
	color: #666;
	padding: 50px;
	font-size: 1.2em;
}

.articleVid {
	position: relative;
	display: block;
	border: none;
	margin: 0 auto;
	border-radius: 15px;
	height: auto;
	aspect-ratio: 16 / 9;
}

@media (max-width: 800px) and (max-aspect-ratio: 1/1) {
	.articleVid {
		min-width: 100%;
		max-width: 100%;
	}
	
	#counter {
		display: none;
	}
	
	.main-content-area {
		flex-direction: column;
	}
	
	.sidebar {
		flex: none;
		width: 100%;
		margin-bottom: 20px;
		padding: 20px 0;
		box-shadow: none;
	}
	
	.sidebar h2, .filter-category h3 {
		text-align: center;
		border-bottom: 0;
		padding-bottom: 0;
	}
	
	.filter-category {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
		margin-bottom: 15px;
		padding: 0 15px;
	}
	
	.filter-group {
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	
	.filter-card {
		padding: 20px;
	}
	
}

footer {
	color: #6c757d;
	font-size: 0.9em;
	text-align: center;
	padding: 0;
	margin: 0;
	min-height: 50px;
	display: grid;
	place-content: center;
}

a {cursor: pointer; font-weight: bold; text-decoration: none; transition: color 0.2s linear; }
a:link {color:#1C62B9; }
a:visited {color:#1C62B9; }
a:hover {color:#3952C6; text-decoration: underline; }
a:active {color:#D8B234; text-decoration: underline; }
pre {
	font-family: Consolas,"courier new";
	background-color: rgba(45,55,60, 0.9);
	color: #CED7E5;
	font-size: 1.1rem;
	border-radius: 6px;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
}

blockquote p {
	margin: 0;
}
blockquote {
	border-radius: 10px;
	background-color: rgba(237,237,237, 0.6);
	color: #212121;
	font-size: 1.1rem;
	font-style: italic;
	padding: 10px;
	
	position: relative;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-word;
	
	min-width: 128px;
	width: fit-content;
}
blockquote::before {
	position: absolute;
	color: lightgray;
	font-size: 2rem;
	left: -13px;
	top: -13px;
	content: "\275D";
}
code {
	font-family: Consolas,"courier new";
	background-color: rgba(192,192,192, 0.3);
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1.05em;
	border-radius: 6px;
}
.container {
	max-width: 1200px;
	margin: 40px auto;
	padding: 0 20px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
}

.card {
	transition: all 0.3s ease;
	min-height: 200px;
	max-height: 210px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: start;

	color: inherit !important;
	text-decoration: none !important;
	font-weight: inherit !important;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-title {
	filter: brightness(0.9);
	font-size: 1.8em;
	margin-bottom: 15px;
}

.card-description {
	font-size: 1em;
	margin-bottom: 20px;
	flex-grow: 1;
}

.card.coming-soon {
	opacity: 0.6;
	pointer-events: none;
}

.card.coming-soon::after {
	content: "Coming Soon";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 1.2em;
	text-align: center;
}

@media (max-width: 768px) {
	header h1 {
		font-size: 2.5em;
	}
	
	.card {
		padding: 25px;
	}
	
	.card-title {
		font-size: 1.6em;
	}
}

@media (max-width: 480px) {
	.container {
		margin: 20px auto;
		padding: 0 15px;
	}
	
	header h1 {
		font-size: 2em;
	}
	
	header p {
		font-size: 1em;
	}
	
	.card {
		padding: 20px;
	}
	
	.card-title {
	font-size: 1.4em;
	}
}
#loadMoreBtn {
	display: none;
	margin: 20px auto;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	color: inherit;
}
#page-nav {
	display: flex;
	justify-content: space-between;
}
/*  */
.toggle-theme {
	width: 50px;
	height: 50px;
	position: relative;
}

.toggle-theme input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.toggle-theme label {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #f0f0f0;
	font-size: 24px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
	user-select: none;
}

.toggle-theme input:not(:checked) + label::before {
	content: "🌞";
}

.toggle-theme input:checked + label::before {
	content: "🌜";
}

.toggle-theme input:checked + label {
	background-color: #333;
	color: white;
}
